
.form{

    margin-top: 20px;
    font-size: larger;
    text-align: center;
    padding: 50px;
    
}
body{
    width: 100%;
    height:auto;
    text-align: left;
    background-color: #6e4de7;
    margin-top: 8%;
}
.content-form{
    width: 50%;
    max-width: 50%;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    color: white;
    background-color: #8675c4e7;
    border-radius: 20px;
}

.titulo-encuesta{
 text-align: center;
 color: aliceblue;

}

.encuesta__input{

    width: 50%;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #140b1d;
    background-color: white;
    border-radius: 20px;

}

.encuesta__input--mejoras{
    width: 50%;
    height: 150px;
}

.encuesta__input--fecha{
    text-align: center;
}

