body {
    background-color: rgba(238, 236, 236, 0.466);
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50px;
    width: 100%;
}

.vestido {
    width: 300px;
}


header {
    width: 100%;
    height: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    align-items: center;

}

header nav {
    display: grid;
    justify-content: center;
    background-color: #6e4de7;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    column-gap: 300px;
    place-content: center;
    min-height: 80px;
}

header .nav__logo {
    width: 100%;
    height: 100%;
}


header nav .nav-right-section {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    place-content: center;
    grid-template-columns: 200px 200px 200px;
    width: fit-content;
    
}

nav .nav-input {
    margin: 0 auto;
    margin-bottom: 20px;
}

nav .nav-input input {
    width: 430px;
    border-color: #5f6368;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #dfe1e5;
    height: 40px;

}

nav .nav-input-container {
    width: 480px;
    border-radius: 95px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #dfe1e5;
    margin-top: 8px
}

nav .nav-input-container:hover {
    box-shadow: 0 2px 6px 0 #20212447;
    border-bottom: #dfe1e5;

}

nav .nav-input .search-icon {
    background-image: url(/claseImg/icono_search.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

nav .nav-left-section{
    width: 100%;
    height: 100%;
}

.nav__logo-container{
    width: 100%;
}


nav .nav-right-section a {
    margin-right: 13px;
    color: black;
    text-decoration: none;
}

nav .nav-right-section .catalogo-icon .catalogo-img {

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
    padding-right: 50%;
    margin-left: 16%;
}

nav .nav-right-section .bolsa-icon .bolsa-img {

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
    padding-right: 40%;
    margin-left: 25%
}

nav .nav-right-section .loggin-icon .loggin-img {

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40x;
    height: 40px;
    padding-right: 40%;
    margin-left: 25%
}

.nav__item {
    text-align: center;

}

main {
    width: 100%;
    margin-top: 150px;
    text-align: center;
    margin-bottom: 300px;
    margin-right: 100px;
}

main .title {
    font-size: 50px;
    color: black;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 9%;
}

main .contenedor {
    margin-top: 8%;
    border: 1% solid #5f6368;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    column-gap: 30px;
    place-content: center;
    height: 300px;
    object-fit: contain;
    grid-auto-rows: auto;
    gap: 25px;

}

main .contenedor .items {
    width: 100%;
    height: 100%;
    object-fit: contain;
    color: #000000;

}

main .referencias {
    height: 7%;
    color: white;
    bottom: 10;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    place-content: center;
    background-color: #6e4de7;
    border-radius: 1000px;
    text-decoration: none;
    cursor: pointer;

}

footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 15px;
    background-color: #5f6368;
    border-top: 1px solid #000000;
}

footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;

}

footer .footer-left {
    justify-self: left;
}

footer .footer-right {
    justify-self: right;
}

footer ul li a {
    margin: 10px;
    color: #000000;
}